<% extend('./layout/layout.ejs') %>

<div class="row my-4 justify-content-center">
  <div class="col-md-9">
    <% for (item in articles) { %>
    <div class="card mb-3">
      <div class="card-body">
        <a href="/post/<%= articles[item].id %>">
          <h2 class="text-primary">
            <%= articles[item].title %>
          </h2>
        </a>
        <div class="d-flex flex-row text-secondary small">
          <div class="p-2"><span class="fa fa-clock-o"></span>
            <%= moment(articles[item].updateTime * 1000).format('YYYY/MM/DD h:mm') %>
          </div>
          <div class="p-2"><i class="fa fa-tag" aria-hidden="true"></i>
            <a href="#" class="text-info">
              <!-- 核對該篇文章種類，顯示對應分類名稱 -->
              <% if (articles[item].category){ %>
              <% let type = null %>
              <% for (itemVal in categories) {
              if (categories[itemVal].id === articles[item].category) {
                type = categories[itemVal].name
              }} %>
              <%= type %>
              <% }else{ %>
              沒有分類
              <% } %>
            </a>
          </div>
          <div class="p-2">
            <i class="fa fa-user-o"></i>
            <%= users[articles[item].userId].nickname %>
          </div>
        </div>
        <div>
          <%- stringtags(articles[item].content).slice(0, 150) %>...
        </div>
      </div>
    </div>
    <% } %>
  </div>
</div>

<%- include('components/pagination.ejs') %>